*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: $primary;
  font-family: 'Work Sans', sans-serif;
}
ul, li {
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.subtitle{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $red;
}
.title{
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: $primary;
  @media (max-width: 900px) {
    font-size: 34px;
  }
}
.info{
  font-size: 19px;
  line-height: 30px;
  color: $secondary;
  @media (max-width: 900px) {
    font-size: 17px;
    line-height: 28px;
  }
}
.mini-link{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
  path{
    fill:#126F86;
  }
}
.btn{
  background: #F46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  padding: 20px 35px;

  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background: #F22222;
  }
}
.btn-light{
  font-size: 14px;
  font-weight: 600;

  padding: 13px 31px;
  background: none;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.signature{
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
  border-radius: 5px;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  @media (max-width: 670px) {
    padding: 5px 15px;
    font-size: 16px;
  }
}
