@import "var";
@import "global";

.header{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  &__container{
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__logo{
    margin-right: 35px;
  }
  &__inner{
    height: 105px;
    display: flex;
    align-items: center;
  }
  &__right{
    margin-left: auto;
  }
  &__log-in{
    margin-right: 40px;
  }
  &__right-btn{
    font-size: 14px;
    font-weight: 600;

    padding: 13px 31px;
    background: none;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    cursor: pointer;
  }
}
.menu{
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    transition: .3s;
    border-bottom: 1px solid transparent;
    padding-bottom: 0px;
    &:hover{
      padding-bottom: 3px;
      color: #007188;
      border-bottom: 1px solid #007188;
    }
  }
}

.main{
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 223px 0 196px;
  &__subtitle{
    font-size: 18px;
  }
  &__title{
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;

    max-width: 470px;
    margin-bottom: 26px;
  }
  &__info{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482;

    max-width: 410px;
    margin-bottom: 40px;
  }
}

.statistics{
  background: $bg-1;
  padding: 80px 0;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img{
    img{
      width: 100%;
    }
  }
  &__left-text{
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    span{
      color: $red;
    }
  }
  &__right{
    max-width: 456px;
  }
  &__subtitle{
    margin-bottom: 26px;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__info{
    margin-bottom: 30px;
  }
}

// help
.help{
  padding: 145px 0 165px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__right{
    max-width: 483px;
  }
  &__subtitle{
    margin-bottom: 27px;
  }
  &__title{
    margin-bottom: 35px;
  }
  &__info{
    margin-bottom: 15px;
  }
  &__left{
    position: relative;
  }
  &__img{
    position: relative;
    z-index: 100;
  }
  &__dots{
    position: absolute;
    top: -30px;
    left: -40px;
  }
  &__signature{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    left: -50px;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    z-index: 100;
  }
}

.safe{
  background: $bg-2;
  padding: 90px 0 85px;
  position: relative;
  &__umbrella{
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__subtitle{
    text-align: center;
    margin-bottom: 30px;
  }
  &__title{
    text-align: center;
    margin-bottom: 35px;
  }
  &__info{
    text-align: center;
    margin-bottom: 40px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background: #fff;
    width: 320px;
    height: 310px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item-img{
    margin-bottom: 15px;
  }
  &__item-title{
    font-size: 24px;
    line-height: 26px;
    color: $primary;
    margin-bottom: 10px;
  }
  &__item-info{
    font-size: 12px;
    line-height: 26px;
    color: $secondary;
    max-width: 247px;
    margin: 0 auto;
    a{
      text-decoration-line: underline;
      color: $primary;
      display: inline-block;
    }
  }
  &__dog{
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}
